body { 
    background-image: url(scripts/pics/wall.jpg); /* Путь к фоновому рисунку */
    background-size: 100%;
   
    /*background-position: ; /* Положение фона */
    /*background-repeat: ; /* Повторяем фон по горизонтали */ 
   }
input {
    height:25px;
    width:200px; 
    text-align:left;
}

input:hover {
    background-color: seagreen;
}

input:disabled:hover {
    background-color: grey;
}

:disabled {
    background-color: whitesmoke;
}

:focus {
    background-color:seagreen;
}

table, tr, td {
    background-color: whitesmoke;
    border: 2px solid black;
    border-collapse: collapse;
}

a {
    color: black;
}
a:hover {
    color: seagreen;
}

