body { 
    background-image: url(scripts/pics/wall.jpg);
    background-size: 100%;   
   }
input {
    height:25px;
    width:200px; 
    text-align:left;
}

input:hover {
    background-color: seagreen;
}

input:disabled:hover {
    background-color: grey;
}

:disabled {
    background-color: whitesmoke;
}

:focus {
    background-color:seagreen;
}

tr, td {
    background-color: whitesmoke;
    border: 1px solid black;
    border-collapse: collapse;
}

a {
    color: black;
}
a:hover {
    color: seagreen;
}
table {
    border: 1px solid black;
    min-width: 700px;
    width: 70%;
    display: block;
    overflow-x: scroll;
    white-space: nowrap;
}
